# Embedded CPython distribution (not project code)
python.exe
pythonw.exe
python3.dll
python312.dll
vcruntime140.dll
vcruntime140_1.dll
NEWS.txt
LICENSE.txt
DLLs/
Lib/
include/
libs/
tcl/
Doc/
Scripts/
*.pth

# Virtual environment
venv/
.venv/

# Python
__pycache__/
*.pyc

# Env secrets
.env
